body {
    font-size: 16px;
    //background-image: url("/mybaby/build/images/bluedot.png");
}

img {
    max-width: 100%;
    max-height: 100%;
}

.bottom-buffer { 
    margin-bottom:20px; 
}

.bottom-border { 
    border-color: #e7e7e7;
}

.affix-top,.affix{
 position: static;
}

@font-face {
    font-family: mellony sans-serif;
    src: url("/assets/fonts/mellony_dry_brush.ttf");
}

#website-title {
    font-family: mellony sans-serif;
    font-size: x-large;
    color: lightskyblue;
}

.content-title {
    font-family: mellony sans-serif;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.gallery {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:20px;
  	width:160px;
  }
  
  #sidebar.affix {
    position: fixed;
    top: 88px;
    width:160px;
  }
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

#baby, 
#family {
   background: #f8f8f8;
}