
{% block content %}
    <div class="jumbotron">
        <p>
            Remplissez en ligne et créer le livre papier* des plus beaux souvenirs de votre bébé
            dans un espace paramétrable, sécurisé et confidentiel.
        </p>
        <p>
            Comment ça fonctionne ?
        </p>
        <ul>
            <li>Renseignez les moments forts des premières années de votre bébé.</li>
            <li>Choisissez le visuel qui vous plaît.</li>
            <li>Vous pouvez consulter et partager l'album en ligne de votre bébé.</li>
            <li>Enfin vous pouvez commander le livre papier de votre bébé.</li>
        </ul>
        <i>*Le livre papier sera imprimé avec du papier recyclé et une partie de la somme à régler sera reversée à l'asso
            xxx qui apporte de la joie aux enfants malades
        </i>
    </div>
    <a class="btn btn-primary btn-lg" href="#" role="button">Créer un compte »</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Se connecter »</a>
{% endblock %}