{% extends'base.html.twig' %}
{% block content %}
    <div class="container">
    <div style="padding-top:10px; margin-bottom:40px;" class="row">
        <div class="col-sm">
            <img style="max-width:500px;" src="{{ asset('build/images/album-demo.jpg') }}" alt="Album bebe exemple"/>
        </div>
        <div class="col-sm">
                <h2 style="margin-bottom:60px;" >
                    Créer et partagez avec vos proches les plus beaux souvenirs de votre bébé <span style="font-weight: bold; color: deeppink;">contribuez à aider un enfant malade*</span>
{#                    dans un espace paramétrable, sécurisé et confidentiel. #}
                </h2>
                <hr style="margin-bottom: 40px; border-top: dotted 6px lightskyblue; width:280px;" />
                <h2>
                    Mybaby est une initiative solidaire.
                </h2>
            </div>
    </div>
    </div>
{#    <div class="container-fluid" style="text-align:center;background:#b3b3b3;">#}
        <div class="row" style="text-align:center;background:#b3b3b3;">
    <div class="col-sm">
            <h1 style="font-weight:200;margin-bottom: 40px;">
                Comment ça fonctionne ?
            </h1>
            <ul>
                <li>Renseignez les moments forts des premières années de votre bébé.</li>
                <li>Choisissez le visuel qui vous plaît.</li>
                <li>Vous pouvez consulter et partager l'album en ligne de votre bébé.</li>
                <li>Enfin vous pouvez commander le livre papier de votre bébé.</li>
            </ul>
            <i>*Le livre papier sera imprimé avec du papier recyclé et une partie de la somme à régler sera reversée à l'asso
                xxx qui apporte de la joie aux enfants malades
            </i>
        </div>
        </div>        {#        </div>#}
{#    </div>#}
{#    <a class="btn btn-primary btn-lg" href="#" role="button">Créer un compte »</a>#}
{#    <a class="btn btn-primary btn-lg" href="{{ path('app_login') }}" role="button">Se connecter »</a>#}
{% endblock %}