{% extends "FOSUserBundle::layout.html.twig" %}
{% block content %}
    <h2>Mes photos</h2>
{% for photo in photos %}
    <img src="/mybaby/web/{{ vich_uploader_asset(photo, 'imageFile') }}" class="img-thumbnail" />
{%endfor%}
{% endblock %}