{% extends "FOSUserBundle::layout.html.twig" %}
{% block content %}
    <h2>Télécharger des photos</h2>
    <div class="dropzone my-dropzone" id="form_snippet_image" action="{{path('ajax_image_send_event', {'idBaby': baby.id, 'idEvent': event.id})}}">
    </div>
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
